
.cabecalho-moda {
    background-color: #bb86fc;
    color: rgb(240, 248, 255);
    
}

.cabecalho-casa {
    background-color:  #00C4B4;
    color:  rgb(240, 248, 255);
}

.valores {
    background-color:  #424250;
    color:  rgb(240, 248, 255);
}